form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 70%;
  margin: auto;
  padding: 10px;
}

input {
  width: 70%;
  margin: 10px;
}

button {
  width: 40%;
  margin: 10px;
}

textarea {
  width: 70%;
  margin: 10px;
}

p {
  margin: auto;
  width: 100%;
  text-align: center;
}

h1 {
  padding-top: 50px;
  margin: auto;
  width: 100%;
  text-align: center;
}